<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179604627552-rekatk65qlgmcgoj21hee6hip6p43ve9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179604627552-rekatk65qlgmcgoj21hee6hip6p43ve9</string>
	<key>API_KEY</key>
	<string>AIzaSyBtdKy7BJud5bJZ7pf9pmQ_wDP1Y0Xfqwc</string>
	<key>GCM_SENDER_ID</key>
	<string>179604627552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bg.uni-sofia.fmi.MovieWatchListApp</string>
	<key>PROJECT_ID</key>
	<string>moviewatchlistapp-5a24d</string>
	<key>STORAGE_BUCKET</key>
	<string>moviewatchlistapp-5a24d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179604627552:ios:7ff67916aba9ee408c6305</string>
</dict>
</plist>